<div class="container"  ng-cloak ng-controller="CaloriesController" ng-init="init()">
<h1>Enter new entry</h1>
<%= render 'form' %>
<h3>Filter</h3>
<div class="form-inline">
  <div class="form-group">
    <label for="dateFrom">From date</label><br/>
    <input id="dateFrom" type="text" ng-model="dateFrom">
  </div>
  <div class="form-group">
    <label for="dateTo">To date</label><br/>
    <input id="dateTo" ng-model="dateTo">
  </div>
  <div class="form-group">
    <label for="timeFrom">From time</label><br/>
    <input id="timeFrom" ng-model="timeFrom">
  </div>
  <div class="form-group">
    <label for="timeTo">To time</label><br/>
    <input id="timeTo" ng-model="timeTo">
  </div>
  <div class="form-group">
     <br />
    <button class="btn btn-primary" ng-click="init()">Filter</button>
  </div>
</div>
<h1>Listing entries</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Calories</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="entry in entries | orderBy:'-date'">
        <td ng-hide="editingMeal == $index" ng-click="startEditingMeal(entry, $index)">{{entry.meal}}</td>
        <td ng-show="editingMeal == $index">
          <input ng-model="entry.meal">
          <button ng-click="doneEditingMeal(entry.id, false)">OK</button>
          <button ng-click="doneEditingMeal(entry.id, true)">Cancel</button>
        </td>
        <td ng-hide="editingCalories == $index" ng-click="startEditingCalories(entry, $index)">{{entry.calories}}</td>
        <td ng-show="editingCalories == $index">
          <input ng-model="entry.calories">
          <button ng-click="doneEditingCalories(entry.id, false)">OK</button>
          <button ng-click="doneEditingCalories(entry.id, true)">Cancel</button>
        </td>
        <td ng-hide="editingDate == $index" ng-click="startEditingDate(entry, $index)">{{entry.date | utc | date:'yyyy-MM-dd HH:mm'}}</td>
        <td ng-show="editingDate == $index">
          <input ng-model="entry.date">
          <button ng-click="doneEditingDate(entry.id, false)">OK</button>
          <button ng-click="doneEditingDate(entry.id, true)">Cancel</button>
        </td>
        <td ng-hide="editingDescription == $index" ng-click="startEditingDescription(entry, $index)">{{entry.description}}</td>
        <td ng-show="editingDescription == $index">
          <input ng-model="entry.description">
          <button ng-click="doneEditingDescription(entry.id, false)">OK</button>
          <button ng-click="doneEditingDescription(entry.id, true)">Cancel</button>
        </td>
        <td> <a href="#" ng-click="deleteEntry(entry.id, $index)">x</a> </td>
      </tr>
  </tbody>
</table>
<br>

  <h1>Daily count</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entry in dailyEntries | orderBy: '-date'">
        <td>{{entry.date}}</td>
        <td ng-class="{green: entry.calories < user.daily_calories, red: entry.calories >= user.daily_calories}">{{entry.calories}}</td>
    </tr>
    </tbody>
  </table>
</div>

