<div class="container" data-no-turbolink ng-cloak ng-controller="CaloriesController" ng-init="init()">
<h1>Enter new entry</h1>
<%= render 'form' %>
<h1>Listing entries</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Calories</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="entry in entries">
        <td ng-hide="editingMeal" ng-click="startEditingMeal(entry)">{{entry.meal}}</td>
        <td ng-show="editingMeal">
          <input ng-model="entry.meal">
          <button ng-click="doneEditingMeal(entry.id)">OK</button>
        </td>
        <td ng-hide="editingCalories" ng-click="startEditingCalories(entry)">{{entry.calories}}</td>
        <td ng-show="editingCalories">
          <input ng-model="entry.calories">
          <button ng-click="doneEditingCalories(entry.id)">OK</button>
        </td>
        <td ng-hide="editingDate" ng-click="startEditingDate(entry)">{{entry.date}}</td>
        <td ng-show="editingDate">
          <input ng-model="entry.date">
          <button ng-click="doneEditingDate(entry.id)">OK</button>
        </td>
        <td ng-hide="editingDescription" ng-click="startEditingDescription(entry)">{{entry.description}}</td>
        <td ng-show="editingDescription">
          <input ng-model="entry.description">
          <button ng-click="doneEditingDescription(entry.id)">OK</button>
        </td>
        <td> <a href="#" ng-click="deleteEntry(entry.id, $index)">x</a> </td>
      </tr>
  </tbody>
</table>

<br>

</div>