<div class="container" data-no-turbolink ng-cloak ng-controller="CaloriesController" ng-init="init()">
<h1>Listing entries</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Calories</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="entry in entries">
        <td>{{entry.meal}}</td>
        <td>{{entry.calories}}</td>
        <td>{{entry.date}}</td>
        <td>{{entry.description}}</td>
        <td>x</td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
</div>